@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@@
@model IEnumerable<Student>

@{
    ViewData["Title"] = "Your potential study mates";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #container {
        padding: 10px;
        background-color: aliceblue;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    a.button1, a.button2, a.button3 {
        display: inline-block;
        padding-right: 7px;
        padding-left: 7px;
        border: 0.16px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto',sans-serif;
        font-weight: 400;
        color: black;
        text-align: center;
        transition: all 0.15s;
    }

        a.button1:hover {
            color: black;
            border-color: black;
            cursor: pointer;
            background-color: green;
        }

        a.button2:hover {
            color: black;
            border-color: black;
            cursor: pointer;
            background-color: Highlight;
        }

        a.button3:hover {
            color: black;
            border-color: black;
            cursor: pointer;
            background-color: red;
        }

        a.button1 a.button2 a.button3:active {
            color: tan;
            border-color: firebrick;
        }

    #hovertext1 {
        position: relative;
        border-bottom: 1px dotted black;
    }

    #hovertext2 {
        position: relative;
        border-bottom: 1px dotted black;
    }

    #hovertext3 {
        position: relative;
        border-bottom: 1px dotted black;
    }

    #hovertext1:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 70px;
        background-color: green;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: -150%;
        top: 1%;
    }

    #hovertext2:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 70px;
        background-color: Highlight;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: -150%;
        top: 1%;
    }

    #hovertext3:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 70px;
        background-color: red;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 1;
        left: -150%;
        top: 1%;
    }

    #hovertext1:hover:before {
        opacity: 1;
        visibility: visible;
    }

    #hovertext2:hover:before {
        opacity: 1;
        visibility: visible;
    }

    #hovertext3:hover:before {
        opacity: 1;
        visibility: visible;
    }
</style>

<table width="94%" align="center">
    <thead>
        <tr>
            <th width="20%">@Html.DisplayNameFor(model => model.Name)</th>
            <th width="20%">@Html.DisplayNameFor(model => model.Major)</th>
            <th width="10%">@Html.DisplayNameFor(model => model.EmailId)</th>
            

            <th width="30%">Actions for Administrators</th>
            <th width="10%">Actions for Users</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>


            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Major)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>

            

            <td class="align-middle">
                <a class="btn btn-outline-primary" asp-action="Update" asp-route-id="@item.StudentId"><i class="bi bi-pencil-square"></i> Edit </a> |
                <a class="btn btn-outline-info" asp-action="GetDetails" asp-route-id="@item.StudentId"><i class="bi bi-eye"></i> Details </a> |
                <a class="btn btn-danger text-white"><i class="bi bi-trash"></i> Delete </a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-white float-right" style="position: fixed; right:30px; bottom:90px;">
    <a asp-action="Create" asp-controller="Books" class="btn btn-success"><i class="bi bi-cloud-plus"></i> New Book</a>
</div>